canvas {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

div {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#outputWindow {
	overflow: auto;
	width: 80%;
	height: 100px;
}

#playerInput {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}